
.list-group {
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.list-group-item {
    border-top: 1px solid #f5f2f2;
    border-bottom: 1px solid #f5f2f2;
    background-color: #fbfbfb;
    border-left: none;
    border-right: none;
    text-align: center;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

a.text-success {
    color: #44c746;
}

.scrollable {
    position: relative;
    height: 230px;
    margin-top: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
}

.scrollable > div {
    padding-right: 10px;
}

.scrollable img-rounded {
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

ul.togglable-tabs > li {
    width: 33.3333%;
}

ul.togglable-tabs > li > a {
    text-align: center;
}

.rating-xs {
    font-size: 1em!important;
}

.media .rating-xs{
    font-size: 0.5em !important;
}