<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${currentCategoryBean.name}">分类</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/vendor/Font-Awesome-3.2.1/css/font-awesome.min.css}" th:rel="stylesheet"/>
    <link th:href="@{/css/base.css}" rel="stylesheet"/>
    <link th:href="@{/css/category.css}" rel="stylesheet"/>
</head>
<body>

<div class="container-fluid" style="margin: 8px 8px 8px 0px;">
    <div class="row">
        <div style="width: 20%;float: left;position: fixed;">
            <div class="list-group">
                <a href="#" class="list-group-item"
                   th:each="category : ${allCategories}"
                   th:href="|@{/category/list}/${category.id}|"
                   th:classappend="${currentCategoryBean.id == category.id} ? 'text-success':''"
                   th:text="${category.name}"> 畅销榜
                </a>
            </div>
        </div>
        <div style="width:80%;float: right;padding-left: 10px">
            <ul class="media-list" th:if="${gameList.size() > 0}">
                <li class="media" th:each="game : ${gameList}">
                    <div class="media-left">
                        <a href="#" th:href="|@{/game/show}/${game.id}|">
                            <img class="media-object img-rounded" style="width: 64px; height: 64px;"
                                 th:src="|@{/html/}${game.logo}|"
                                 src="http://qgcdn1.gtimg.com/plat/appdirgame/images/app_ico/10785_icon_01.png"/>
                        </a>
                    </div>
                    <div class="media-body" style="vertical-align: middle;">
                        <h4 class="media-heading" th:text="${game.name}">龙神契约</h4>
                        <span th:text="${game.details}">让玩家获得超越观看3D电影的真实体验！</span>
                    </div>
                    <div class="media-right media-middle">
                        <a href="#" th:href="|@{/game/show}/${game.id}|" class="btn btn-default">进入</a>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-resize/1.1/jquery.ba-resize.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-migrate/1.3.0/jquery-migrate.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>