<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/css/base.css}" th:rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">首页管理</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">首页管理 <span class="sr-only">(current)</span></a></li>
                <li><a th:href="@{/game/list}">游戏管理</a></li>
                <li><a th:href="@{/category/list}">分类管理</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid" style="margin: 20px 20px 20px 20px;">
    <div class="row"><h4>首页数据配置</h4></div>
    <div class="row" th:if="${msg_remove != null}">
        <p class="bg-success" th:text="${msg_remove}">...</p>
    </div>
    <div class="row" th:if="${error_remove != null}">
        <p class="bg-error" th:text="${error_remove}">...</p>
    </div>
    <div class="row" th:if="${msg_add != null}">
        <p class="bg-success" th:text="${msg_add}">...</p>
    </div>

    <div class="row">
        <div class="bs-example" data-example-id="simple-horizontal-form">
            <form class="form-horizontal" th:action="@{/index/config}" th:object="${indexBean}" th:method="post">
                <div class="form-group">
                    <label class="col-sm-2 control-label">游戏推荐</label>
                    <div class="col-sm-10">
                        <div class="checkbox" th:each="game:${allGames}">
                            <label>
                                <input type="checkbox" th:field="*{gameList1[__${gameStat.index}__].id}" th:value="${game.id}"  />
                                <span th:text="${game.name}"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">推荐精品</label>
                    <div class="col-sm-10">
                        <div class="checkbox" th:each="game:${allGames}">
                            <label>
                                <input type="checkbox" th:field="*{gameList2[__${gameStat.index}__].id}" th:value="${game.id}" />
                                <span th:text="${game.name}"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-resize/1.1/jquery.ba-resize.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-migrate/1.3.0/jquery-migrate.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>