<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <!-- Bootstrap -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="Font-Awesome-3.2.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="Font-Awesome-3.2.1/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="css/base.css" rel="stylesheet"/>
</head>
<body>

<div class="container-fluid" style="margin: 20px 20px 20px 20px;">
    <div class="row">
        <input type="text" class="form-control" placeholder="大家都在搜索小游戏"/>
    </div>
    <div class="row" style="padding-top: 8px;">
        <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group" >
            <a href="#" class="btn btn-default" role="button"><i class="icon-coffee icon-large"></i> 休闲</a>
            <a href="#" class="btn btn-default" role="button"><i class="icon-money icon-large"></i> 棋牌</a>
            <a href="#" class="btn btn-default" role="button"><i class="icon-user-md icon-large"></i> 角色</a>
            <a href="#" class="btn btn-default" role="button"><i class="icon-fighter-jet icon-large"></i> 竞技</a>
            <a href="#" class="btn btn-default" role="button">更多</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12" style="padding-top:8px;padding-left: 0;padding-right: 0;">
            <div class="thumbnail">
                <h4>王者荣耀</h4>
                <p>游戏内容的剪短介绍</p>
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1524551596104&di=80fcddbfaa317bbc443aadf2ff1eae68&imgtype=0&src=http%3A%2F%2Fi2.hdslb.com%2Fbfs%2Farchive%2F890ea0f49e0ab759c650d42780d5b31f8ff15392.jpg" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" style="width: 64px; height: 64px; border-radius: 10px;" src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2348652421,1529514209&fm=58&bpow=512&bpoh=512"/>
                </a>
            </div>
            <div class="media-body" style="vertical-align: middle;">
                <h4 class="media-heading">魂斗罗</h4>
                童年回忆 | 官方正版 | 一名通关
            </div>
            <div class="media-right media-middle">
                <input class="btn btn-default" type="button" value="进入"/>
            </div>
        </div>
    </div>
    <div class="row" style="border-top: 1px solid #ddd;margin-top: 16px">
        <h4>推荐精品</h4>
    </div>
    <div class="row">
        <ul class="media-list">

            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" style="width: 64px; height: 64px; border-radius: 10px;" src="http://qgcdn1.gtimg.com/plat/appdirgame/images/app_ico/10785_icon_01.png"/>
                    </a>
                </div>
                <div class="media-body" style="vertical-align: middle;">
                    <h4 class="media-heading">龙神契约</h4>
                    精美的贴图制作、将让玩家获得超越观看3D电影的真实体验！
                </div>
                <div class="media-right media-middle">
                    <input class="btn btn-default" type="button" value="进入"/>
                </div>
            </li>

            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" style="width: 64px; height: 64px; border-radius: 10px;" src="http://qgcdn3.gtimg.com/plat/appdirgame/images/app_ico/30242_icon_01.png"/>
                    </a>
                </div>
                <div class="media-body" style="vertical-align: middle;">
                    <h4 class="media-heading">Once'</h4>
                    游戏的画面非常的精美
                </div>
                <div class="media-right media-middle">
                    <input class="btn btn-default" type="button" value="进入"/>
                </div>
            </li>

            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" style="width: 64px; height: 64px; border-radius: 10px;" src="http://qgcdn3.gtimg.com/plat/appdirgame/images/app_ico/10826_icon_01.png"/>
                    </a>
                </div>
                <div class="media-body" style="vertical-align: middle;">
                    <h4 class="media-heading">魔域</h4>
                    以魔幻风格为主，恢弘大气中不乏精致。
                </div>
                <div class="media-right media-middle">
                    <input class="btn btn-default" type="button" value="进入"/>
                </div>
            </li>

            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" style="width: 64px; height: 64px; border-radius: 10px;" src="http://qgcdn1.gtimg.com/plat/appdirgame/images/app_ico/32766_icon_01.png"/>
                    </a>
                </div>
                <div class="media-body" style="vertical-align: middle;">
                    <h4 class="media-heading">QQ升级</h4>
                    保留原来积分升级的玩法，优化游戏界面及出牌体验。
                </div>
                <div class="media-right media-middle">
                    <input class="btn btn-default" type="button" value="进入"/>
                </div>
            </li>

        </ul>
    </div>

</div>

<!-- jQuery -->
<script src="//cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-resize/1.1/jquery.ba-resize.min.js"></script>
<script src="//cdn.bootcss.com/jquery-migrate/1.3.0/jquery-migrate.min.js"></script>
<script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>